*{
    margin:2px;
    padding:2px;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color:dimgray;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 60px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.body_calc{
    display: flex;
    width: 27vw;
    height: 80vh;
    border: 5px solid #333030;
    border-radius: 30px;
    background-color: #0f1c3e;
    flex-direction: column;
}
.screen{
    border-radius: 20px;
    width: 26vw;
    height: 12vh;
    border: 5px solid #8f989f;
    background-color: #2b6161;
    color:white;
    display: flex;
    justify-content:right;
    font-size:50px;
    align-items:center;
    margin-bottom:22px;
}
.number_icon{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.number_icon .plate1{
    display: flex;
    flex-direction: row;
}
.number_icon .plate2{
    display: flex;
    flex-direction: row;
}
.number_icon .plate3{
    display: flex;
    flex-direction: row;
}
.number_icon .plate4{
    display: flex;
    flex-direction: row;
}
.number_icon .plate5{
    display: flex;
    flex-direction: row;
}

#num1, #num2, #num3, #num4, #num5, #num6, #num7, #num8, #num9, #num0, #num_dot {
    border: 3px solid #121111;
    border-radius: 12px;
    width:5vw;
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 600;
} 
#sign_div, #sign_mul, #sign_plus, #sign_min, #sign_percent, #sign_power{
    border: 2px solid black;
    border-radius: 12px;
    width:6vw;
    height: 11vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 55px;
    font-weight: 600;
}
#reset{
    border: 2px solid black;
    border-radius: 25px;
    width:6vw;
    height: 11vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}
#sign_equal{
    border: 5px solid black;
    background-color: rgb(167, 125, 41);
    border-radius:25px;
    width:11.5vw;
    height: 11vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 55px;
    font-weight: 900;
}

.show{
border: 2px solid black;
background-color: rgb(159, 161, 163);
}